@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centered-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}